node_modules
.*.swp
._*
.DS_Store
.git
.idea

# Logs
logs
*.log

# Db

data

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

